{{ 'section-image-banner.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .grid-container {
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: 40% 60%;
    padding: 10px;
  }

    .grid-item {
      padding: 2rem;
      justify-self: center;
      align-self: center;
      font-size: 30px;
      text-align: center;
    }

      .grid-image-container {
        padding: 5rem 6rem 5rem 0rem;
      }

{%- endstyle -%}

<section id="Banner-{{ section.id }}" class="">
  <div class="grid-container">
    <div class="grid-item">
      <div>
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when 'heading' -%}
              <h1 class="h1">{{ block.settings.heading | escape }}</h1>
          {%- endcase -%}
        {%- endfor -%}
        <div>
          <p>Test Text</p>
        </div>
        <div class="" {{ block.shopify_attributes }}>
          {%- if block.settings.button_label_1 != blank -%}
            <a{% if block.settings.button_link_1 == blank %} role="link" aria-disabled="true"{% else %} href="{{ block.settings.button_link_1 }}"{% endif %} class="button{% if block.settings.button_style_secondary_1 %} button--secondary{% else %} button--primary{% endif %}">{{ block.settings.button_label_1 | escape }}</a>
          {%- endif -%}
          {%- if block.settings.button_label_2 != blank -%}
            <a{% if block.settings.button_link_2 == blank %} role="link" aria-disabled="true"{% else %} href="{{ block.settings.button_link_2 }}"{% endif %} class="button{% if block.settings.button_style_secondary_2 %} button--secondary{% else %} button--primary{% endif %}">{{ block.settings.button_label_2 | escape }}</a>
          {%- endif -%}
        </div>
      </div>
    </div>
    <div class="grid-item grid-image-container">
      {%- if section.settings.image != blank -%}
        <img
            class="grid-item-img"
            src="{{ section.settings.image | img_url: '1500x' }}"
            loading="lazy"
            alt="{{ section.settings.image.alt | escape }}"
            width="{{ section.settings.image.width }}"
            height="{{ section.settings.image.width | divided_by: section.settings.image.aspect_ratio }}"
            {% if section.settings.image_2 != blank %}class="banner__media-image-half"{% endif %}
          >
        {%- endif -%}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "t:sections.image-banner.name",
  "tag": "section",
  "class": "spaced-section spaced-section--full-width",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.image-banner.settings.image.label"
    },
    {
      "type": "image_picker",
      "id": "image_2",
      "label": "t:sections.image-banner.settings.image_2.label"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.image-banner.blocks.heading.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Image banner",
          "label": "t:sections.image-banner.blocks.heading.settings.heading.label"
        }
      ]
    },
    {
      "type": "buttons",
      "name": "t:sections.image-banner.blocks.buttons.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label_1",
          "default": "Button label",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_label_1.label",
          "info": "t:sections.image-banner.blocks.buttons.settings.button_label_1.info"
        },
        {
          "type": "url",
          "id": "button_link_1",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_link_1.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.image-banner.presets.name",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "buttons"
        }
      ]
    }
  ]
}
{% endschema %}
